/* ======= GLOBAL ======= */

html {
  scroll-behavior: smooth;
}

body { 
  font-family: $font-stack;
  background-color: $tertiery-color;
  font-size: $base-font-size;
}

.wrapper {
  max-width: 960px;
  margin: 0 auto;
}