/* ====== NAVBAR ====== */

nav {
  background-color: $quaternary-color;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      display: inline;
      a {
        padding: 1em;
        display: inline-block;
        color: $quinary-color;
        text-decoration: none;
      } & :hover {
      background-color: $senary-color;
     }
    }
  }

}