/* ====== VARIABLES ====== */

$primary-color: white;
$secondary-color: #efefef;
$tertiery-color: rgb(204, 204, 204);
$quaternary-color: gold;
$guinary-color: rgb(39, 39, 39);
$senary-color: rgb(230, 216, 141);

$font-stack: "Futura", Helvetica, Arial, sans-serif;
$base-font-size: 1.1em;
